<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Data</h1>
    <table>
        <thead>
            <tr>
                <th>ID</th>
                <th>Name</th>
                <th>Salary</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            {% for emp in emp_list%}
            <tr>
                <td>{{emp}}</td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
            {%endfor%}
        </tbody>
    </table>
</body>
</html>