<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css" >
</head>
<body>
    <div class="container mt-5">
        <div class="row">
            <div class="col-md-8">
                <div class="card">
                    <div class="card-header">
                        <h2>Creating Employee Data</h2>
                    </div>
                    <div class="card-body">
                        <form action="/create/" method="post">
                            {% csrf_token %}
                            <div>
                                <label for="">Employee ID</label>
                                <input type="number" name="eid" id="id_eid"  />
                            </div>
                            <div>
                                <label for="">Employee Name</label>
                                <input type="text" name="ename" id="id_ename"  />
                            </div>
                            <div>
                                <label for="">Employee Salary</label>
                                <input type="number" name="esal" id="id_esal"  />
                            </div>
                            <div>
                                <label for="">Employee Email</label>
                                <input type="email" name="eemail" id="id_eemail"  />
                            </div>
                            <input type="submit" value="Create"/>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>