<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="/update/" method="post">
        {%csrf_token%}
        <div>
            <label for="">Employee ID</label>
            <input type="text" name="eid" id="id_eid" value="">
        </div>
        <div>
            <label for="">Employee ID</label>
            <input type="text" name="eid" id="id_eid" value="">
        </div>
        <div>
            <label for="">Employee ID</label>
            <input type="text" name="eid" id="id_eid" value="">
        </div>
        <div>
            <label for="">Employee ID</label>
            <input type="text" name="eid" id="id_eid" value="">
        </div>
        <input type="submit" value="update"/>
    </form>
</body>
</html>